/* .btn{
    border: 0;
    outline: 0;
    color: white;
} */
.coffeImage {
  width: 185px;
  height: 150px;
}

.white {
  color: white !important;
}
.tomatoBg {
  background-color: #ea4744 !important;
}
